<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" verbose="true">
    <testsuites>
        <testsuite name="EmailSender Test Suite">
            <directory>test/Unit/EmailSender</directory>
            <directory>test/Integration/EmailSender</directory>
        </testsuite>
    </testsuites>
</phpunit>
